.notes-div {
    margin-top: 17vh;
    margin-left: 7vh;
    margin-right: 7vh;
}
body{
    overflow-y: scroll;
    height:auto;
}

.custom-accordion .accordion-item { /*overall color of the accordion item*/
    background-color: rgba(51,51,51,.8); /* Change this to your desired color */
    color: #FFFFFF; /* Change this to your desired text color */
}
.custom-accordion .accordion-item:last-child {
    margin-bottom: 5%;
    background-color: rgba(51,51,51,.8); 
    color: #FFFFFF;
}
.custom-accordion .accordion-button{/*normal color of accordion button*/
    background-color: rgba(51,51,51,.8); 
    color: #FFFFFF; 
}
.custom-accordion .accordion-button:not(.collapsed){ /*when the accordion button is pressed set the custom color*/
    background-color: rgba(51,51,51,.9); 
    color: #FFFFFF; 
}
.custom-accordion .accordion-button:after { /*changing the arrow color to white*/
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.custom-pdf-icon {
    font-size: 30px !important; /* Change this to adjust the size of the icon */
    padding: 10px;
    color: #FF0000; /* Change this to adjust the color of the icon */
}