.notes-div {
    margin-top: 17vh;
    margin-left: 7vh;
    margin-right: 7vh;
}
body{
    overflow-y: scroll;
    height:auto;
}
.custom-accordion .accordion-item { /*overall color of the accordion item*/
    background-color: rgba(51,51,51,.8); /* Change this to your desired color */
    color: #FFFFFF; /* Change this to your desired text color */
}
.custom-accordion .accordion-item:last-child {
    margin-bottom: 10%;
    background-color: rgba(51,51,51,.8); 
    color: #FFFFFF;
}
.custom-accordion .accordion-button{/*normal color of accordion button*/
    background-color: rgba(51,51,51,.8); 
    color: #FFFFFF; 
}
.custom-accordion .accordion-button:not(.collapsed){ /*when the accordion button is pressed set the custom color*/
    background-color: rgba(51,51,51,.9); 
    color: #FFFFFF; 
}