body {
  overflow: hidden;
  background-image: none;
  overflow-y: scroll;
  height:auto;
  line-height: 1.2!important;
}

.bg {
    top:0;
    left: 0;
    background: url(maindesign1.png);

    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: -1;
  }

.content-main{
  position: absolute;
  margin-top: 5rem;
  left: 50%; 
  transform: translateX(-50%);
  width: 80%;
}

.info-bar {
  position: fixed;
  top: 14vh;
  right: 2vw;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.badge {
  font-size: min(20px,2vw)!important;
  width: max(15vw,200px);
  height: max(2vw,20px);
}
/*
select {
  background-color: rgb(5, 255, 138)!important;
}
select~label::after {
  background-color: rgb(5, 255, 138)!important;
}
*/

.tally-counter{
  position: absolute;
  z-index: 20;
  top:50%;
  left:50%;
  text-align: center;
}

/* For desktops with a minimum width of 768px */
@media (min-width: 740px) {
  .tally-counter{
      width: 115px;
  }
}

/* For mobile devices with a maximum width of 767px */
@media (max-width: 739px) {
  .tally-counter {
      width: 55px;
  }
}


.button-container{
  position: absolute;
  z-index: 20;
  top:10%;
  left:20%;
}

.buttonstyler{
  background-color:yellowgreen;
  height: 50px;
  width:50px;
}

.question-box{
  position: absolute;
}
.question-box question{
  color: white;
  font-weight: bold;
  margin-bottom: 10px;
}
.question-box options label{
  color: white;
  display: block;
  margin-bottom: 5px;
}
