body {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: url(maindesign1.png);
}
h1 {
  color: #fff;
  font-family: poppins;
  font-size: 800%;
  font-weight: 700;
}
h1 span {
  color: #BD53ED;
  position: relative;
}
h1 span::before {
  content: "";
  height: 0.7em;
  width: 2px;
  position: absolute;
  top: 50%;
  right: -8px;
  background: white;
  transform: translateY(-45%);
  animation: blink 0.7s infinite;
}
h1 span.stop-blinking::before {
  animation: none;
}
@keyframes blink {
  50% { opacity: 0 }
}