<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}"></style>
     <title>NotesNinja</title>
     <script src="https://kit.fontawesome.com/eb018bf6f2.js" crossorigin="anonymous"></script>
     <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
     <script src="{{ url_for('static', filename='script.js')}}" defer></script>

     <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='notesninjalogo.png')}}" />
     <script>
        window.va = window.va || function () { (window.vaq = window.vaq || []).push(arguments); };
      </script>
      <script defer src="/_vercel/insights/script.js"></script>
      {% if user_info %}
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='user.css')}}"></style>
      {% endif %}
      {% block head %}{% endblock %}
</head>
<body>
    <button class="hamburger" id="hamburger-btn">
        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>
    </button>
    <nav class="navbar-main">
            <ul class="container-main">
                <li><a href="{{ url_for('main') }}" class = '{{ "active" if active=="home" else "" }}'>Home</a></li>
                <li><a href="{{ url_for('notes') }}" class = '{{ "active" if active=="notes" else "" }}'>Notes</a></li>
                <div class="empty"></div>
                <div class="container-main logo-div">
                    <a href='{{ url_for("main") }}' ><img id="logo" src="{{ url_for('static', filename='noteninjatitlelogo.png')}}" alt="Logo"></a>
                </div>
                <li><a href="{{ url_for('practice') }}" class = '{{ "active" if active=="practice" else "" }}'>Practice</a></li>
                <li><a href="#" onclick="openPop();return false;" class = '{{ "active" if active=="about" else "" }}'>About</a></li>
            </ul>
        </div>
    </nav>

    <div class="overlay" id="overlay"></div>
    <div class="popup" id="popup">
        <span class="close-btn" id="close-btn">&times;</span>
        {% if not user_info %}
        {% set name = "Ladies and gentlemen"%}
        {% set title_name = ""%}
        {% else %}
        {% set name = user_info["name"] %}
        {% set title_name = name%}
        {% endif %}
        <img id="logo" src="{{ url_for('static', filename='noteninjatitlelogo.png')}}" alt="Logo" class="center-top">
        <h2 style="text-align: center;">Welcome to <strong>NotesNinja</strong><br> {{ title_name }}</h2>
        <p>{{ name }}, knowledge seekers, and future scientists of the cosmos, gather 'round as we introduce you to a symphony of intellect, a kaleidoscope of wisdom, and an ocean of enlightenment.<strong> NotesNinja </strong>is a startup catering to A-level students, providing high quality, comphrensive notes and dynamic practice sessions.</p>
        <p>Now stop reading and go study. You got this!</p>
    </div>

    <a href="{{ url_for('login') }}">
        <div id="icons">
            <i id="bounce" class="fa-solid fa-user fa-bounce"></i>
            <i class="fa-solid fa-user"></i>
            <img src='{{ user_info["picture"] }}' class="dp"></img>
        </div>
    </a>
    {% if active=="home"%}
    <div class="wrapper">
        <a href="https://www.instagram.com/" target="_blank" style="color: black;">
            <div class="icon instagram">
                <span><i class="fab fa-instagram"></i></span>
            </div>
        </a>
        <a href="https://www.facebook.com/" target="_blank" style="color: black;">
            <div class="icon facebook">
                <span><i class="fab fa-facebook-f"></i></span>
            </div>
        </a>
        <a href="https://www.gmail.com/" target="_blank" style="color: black;">
            <div class="icon gmail">
                <span><i class="fa fa-envelope"></i></span>
            </div>
        </a>
        <a href="https://www.github.com/" target="_blank" style="color: black;">
            <div class="icon github">
                <span><i class="fa fa-github"></i></span>
            </div>
        </a>
        <a href="https://www.linkedin.com/" target="_blank" style="color: black;">
            <div class="icon linkedin">
                <span><i class="fa fa-linkedin"></i></span>
            </div>
        </a>
    </div>
    {% endif %}
    {% block body %}{% endblock %}
    <a href='{{ url_for("main") }}' ><img id="companylogo" src="{{ url_for('static', filename='noteninjatitlelogo.png')}}" alt="Logo"></a>
</body>
</html>