<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="'viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}"></style>
     <title>NotesNinja</title>
     <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
     <script src="{{ url_for('static', filename='script.js')}}" defer></script>
     <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='logo.ico')}}" />
</head>
<body>
    <nav class="navbar">
            <ul class="container">
                <li><a href={{ url_for("main") }} class = {{ "active" if active=="home" else "" }}>Home</a></li>
                <li><a href="#" class = {{ "active" if active=="practice" else "" }}>Practice</a></li>
                <a href={{ url_for("main") }} class="logo"><img src="" alt="Logo" id="logo"></a>
                <li><a href="#" class = {{ "active" if active=="docs" else "" }}>Documents</a></li>
                <li><a href="#" class = {{ "active" if active=="acc" else "" }}>Account</a></li>
            </ul>
        </div>
    </nav>
    {% block body %}{% endblock %}
</body>
</html>