{% extends "layout.html" %}

{% block head %}
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login.css')}}"></style>

{% endblock %}

{% block body %}
    <div class="main">
        <div class="panel border bg-white">
            <div class="panel-heading">
                <h3 class="pt-3 font-weight-bold">Login</h3>
            </div>
            <div class="panel-body p-3">
                <form action="/login" method="POST">
                    <div class="form-group py-2">
                        <div class="input-field"> <span class="far fa-user p-2 fa-solid"></span> <input type="text" name="uname" placeholder="Username or Email" required> </div>
                    </div>
                    <div class="form-group py-1 pb-2">
                        <div class="input-field"> 
                            <span class="fas fa-lock px-2"></span> 
                            <input type="password" name="password" id="passwordField" placeholder="Enter your Password" required> 
                            <button  type="button" class="btn bg-white text-muted"> 
                                <span id="togglePassword" class="far fa-eye-slash"></span> 
                            </button> 
                        </div>
                    </div>
                    <div class="form-inline"> <input type="checkbox" name="remember" id="remember"><label for="remember" class="text-muted">Remember me</label> <a href="#" id="forgot" class="font-weight-bold">Forgot password?</a> </div>
                    <button  class="btn btn-primary btn-block mt-3">Login</button>
                    <div class="text-center pt-4 text-muted">Don't have an account? <a href="{{url_for('signup')}}">Sign up</a> </div>
                </form>
            </div>
            <p style="color: red;font-weight: bold;" id="message">{{ message }}</p>
            <div class="text-center py-3">
                <button type="button" class="google-sign-in-button" onclick="location.href='/google/login';" >
                    Sign in with Google
                </button>
            </div>
            
            </div>
        </div>
    </div>

    <script>
        const passwordField = document.getElementById('passwordField');
        const togglePassword = document.getElementById('togglePassword');
    
        togglePassword.addEventListener('click', function() {
            if (passwordField.type === 'password') {
                passwordField.type = 'text';
                togglePassword.classList.remove('fa-eye-slash');
                togglePassword.classList.add('fa-eye');
            } else {
                passwordField.type = 'password';
                togglePassword.classList.remove('fa-eye');
                togglePassword.classList.add('fa-eye-slash');
            }
        });
      </script>
{% endblock %}