{% extends "layout.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='quiz.css')}}"></style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='quiz.js')}}" defer></script>
    <script src="https://code.jquery.com/jquery-1.6.2.min.js"></script>
{% endblock %}

{% block body %}
    <div class="bg"></div>
    <style>
    .counter {
        display: inline-block;
        height: 35px;
        border: 2px solid white;
        border-radius: 5px;
        margin: 18px 7px 0 0;
    }

    .counter:nth-child(5n) {
        transform: rotate(300deg);
        height: 50px;
        position: relative;
        left: -25px;
        top: 7px;
        margin-right: 10px;
        margin-top: -15px;
    }

    /* Styles for desktops with a minimum width of 768px */
    @media (min-width: 740px) {
        .counter {
            display: inline-block;
        }
    }

    /* Styles for mobile devices with a maximum width of 767px */
    @media (max-width: 739px) {
        .counter {
            transform: scale(0.8); /* Scale down by a factor of 0.8 */
            /* Add any additional mobile-specific styles here */
        }
        .counter:nth-child(5n){
            transform: rotate(300deg) scale(0.9);
        }
    }
    </style>

    <div class="tally-counter">
        <div id="count"></div>
    </div>

    <div class="button-container">
        <button id="tally" class="buttonstyler">Start</button>
    </div>
    
    <script>
    var counter = 0; // Initialize counter

    $('#tally').click(function(){
    if (counter < 15) {
        $('<div />').prop('class','counter').appendTo('#count');
        counter++; // Increment the counter
        if (counter === 1) {
            $(this).text('Stop');
        }
    
    } else {
        // Display an alert
        var confirmation = confirm("Are you sure you want to end the quiz?");
        if (confirmation) {
            // Redirect to a local file
            window.location.href = "answerpage.html";
        }
    }
    return false;
    });
    </script>
    <div class="question-box">
        <question>Be my mirror my sword my shield</question>
        <options>
            <label><input type="radio" name="q1" value="paris"> Paris</label><br>
            <label><input type="radio" name="q1" value="london"> London</label><br>
            <label><input type="radio" name="q1" value="berlin"> Berlin</label><br>
        </options>
    </div>
{% endblock %}