{% extends "layout.html" %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='quiz.css')}}"></style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.6.2.min.js"></script>
    <script src="{{ url_for('static', filename='quiz.js')}}" defer></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
{% endblock %}

{% block body %}
    <div class="bg"></div>
    <style>
    .counter {
        display: inline-block;
        height: 2.1875rem; /* Equivalent to 35px / 16px = 2.1875rem */
        border: 0.125rem solid white; /* Equivalent to 2px / 16px = 0.125rem */
        border-radius: 0.3125rem; /* Equivalent to 5px / 16px = 0.3125rem */
        margin: 1.125rem 0.4375rem 0 0; /* Equivalent to 18px / 16px = 1.125rem, 7px / 16px = 0.4375rem */
    }
    @media (max-width: 767px) {
        .counter {
            transform: scale(0.8); /* Scale down by a factor of 0.8 */
        }
    }

    .counter:nth-child(5n) {
        transform: rotate(300deg);
        height: 3.125rem; /* Equivalent to 50px / 16px = 3.125rem */
        position: relative;
        left: -1.5625rem; /* Equivalent to -25px / 16px = -1.5625rem */
        top: 0.4375rem; /* Equivalent to 7px / 16px = 0.4375rem */
        margin-top: -0.9375rem; /* Equivalent to -15px / 16px = -0.9375rem */
    }
    </style>
    <div class="content-main">
        <div class="tally-counter">
            <div id="count"></div>
        </div>

        <div class="button-container">
            <button id="tally" class="buttonstyler">Start</button>
        </div>
        
        <script>
        var counter = 0; // Initialize counter

        $('#tally').click(function(){
        if (counter < 15) {
            $('<div />').prop('class','counter').appendTo('#count');
            counter++; // Increment the counter
            if (counter === 1) {
                $(this).text('Next');
            }
        
        } else {
            // Display an alert
            var confirmation = confirm("Are you sure you want to end the quiz?");
            if (confirmation) {
                // Redirect to a local file
                window.location.href = "answerpage.html";
            }
        }
        return false;
        });
        </script>
        <div class="question-box">
            <question>Be my mirror my sword my shield. This is paris saint german club and we will not release mbappe. do what you will madrid. Each thruster exerts a force of 40N on the satellite. The line of action of each force is a
                perpendicular distance of 2.3 m from the centre of gravity of the satellite. These two parallel
                forces act in opposite directions.</question>
            <!--
            <options>
                <label><input type="radio" name="q1" value="paris"> Paris</label><br>
                <label><input type="radio" name="q1" value="london"> London</label><br>
                <label><input type="radio" name="q1" value="berlin"> Berlin</label><br>
                <label><input type="radio" name="q1" value="berlin"> Berlin</label><br>
                <label><input type="radio" name="q1" value="berlin"> Berlin</label><br>
            </options>
            -->
            <option-new>
                <button>Hello</button>
                <button>Navi</button>
                <button>hi</button>
                <button>hola</button>
            </option-new>
        </div>
    </div>
{% endblock %}